Main/Data/XML Schemas/ChemicalLibraryQuery.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cers="http://cersservices.calepa.ca.gov/Schemas/ChemicalLibraryQuery/1/08/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://cersservices.calepa.ca.gov/Schemas/ChemicalLibraryQuery/1/08/" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:element name="Chemicals">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="cers:ChemicalsType">
					<xs:attribute name="dataSetDateTime" type="xs:dateTime"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ChemicalType">
		<xs:sequence>
			<xs:element name="CCLID" type="xs:string">
				<xs:annotation>
					<xs:documentation>250</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CAS" type="cers:CASType">
				<xs:annotation>
					<xs:documentation>209</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="USEPASRSNumber">
				<xs:annotation>
					<xs:documentation>251</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
						<xs:minLength value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ChemicalName" type="cers:ComponentNameType">
				<xs:annotation>
					<xs:documentation>205</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommonName" type="cers:ComponentNameType">
				<xs:annotation>
					<xs:documentation>207</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhysState">
				<xs:annotation>
					<xs:documentation>214</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:minLength value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="HMType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:minLength value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EHS">
				<xs:annotation>
					<xs:documentation>208</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:minLength value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FireCode1" type="cers:FireCodeType" nillable="true">
				<xs:annotation>
					<xs:documentation>210a</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FireCode2" type="cers:FireCodeType" nillable="true">
				<xs:annotation>
					<xs:documentation>210b</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FireCode3" type="cers:FireCodeType" nillable="true">
				<xs:annotation>
					<xs:documentation>210c</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FireCode4" type="cers:FireCodeType" nillable="true">
				<xs:annotation>
					<xs:documentation>210d</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FireCode5" type="cers:FireCodeType" nillable="true">
				<xs:annotation>
					<xs:documentation>210e</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FireCode6" type="cers:FireCodeType" nillable="true">
				<xs:annotation>
					<xs:documentation>210f</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FireCode7" type="cers:FireCodeType" nillable="true">
				<xs:annotation>
					<xs:documentation>210g</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FireCode8" type="cers:FireCodeType" nillable="true">
				<xs:annotation>
					<xs:documentation>210h</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FHCFire">
				<xs:annotation>
					<xs:documentation>216a</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:minLength value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FHCReactive">
				<xs:annotation>
					<xs:documentation>216b</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:minLength value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FHCPressureRelease">
				<xs:annotation>
					<xs:documentation>216c</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:minLength value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FHCAcuteHealth">
				<xs:annotation>
					<xs:documentation>216d</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:minLength value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FHCChronicHealth">
				<xs:annotation>
					<xs:documentation>216e</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:minLength value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
      <xs:element name="FHCPhysicalFlammable">
        <xs:annotation>
          <xs:documentation>216f</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FHCPhysicalGasUnderPressure">
        <xs:annotation>
          <xs:documentation>216g</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FHCPhysicalExplosive">
        <xs:annotation>
          <xs:documentation>216h</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FHCPhysicalSelfHeating">
        <xs:annotation>
          <xs:documentation>216i</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FHCPhysicalPyrophoric">
        <xs:annotation>
          <xs:documentation>216j</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FHCPhysicalOxidizer">
        <xs:annotation>
          <xs:documentation>216k</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FHCPhysicalOrganicPeroxide">
        <xs:annotation>
          <xs:documentation>216l</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FHCPhysicalSelfReactive">
        <xs:annotation>
          <xs:documentation>216m</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FHCPhysicalPyrophoricGas">
        <xs:annotation>
          <xs:documentation>216n</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FHCPhysicalCorrosiveToMetal">
        <xs:annotation>
          <xs:documentation>216o</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FHCPhysicalContactWaterEmitsFlammableGas">
        <xs:annotation>
          <xs:documentation>216p</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FHCPhysicalCombustibleDust">
        <xs:annotation>
          <xs:documentation>216q</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FHCPhysicalHazardNotOtherwiseClassified">
        <xs:annotation>
          <xs:documentation>216r</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FHCHealthCarcinogenicity">
        <xs:annotation>
          <xs:documentation>216s</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FHCHealthAcuteToxicity">
        <xs:annotation>
          <xs:documentation>216t</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FHCHealthReproductiveToxicity">
        <xs:annotation>
          <xs:documentation>216u</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FHCHealthSkinCorrosionIrritation">
        <xs:annotation>
          <xs:documentation>216v</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FHCHealthRespiratorySkinSensitization">
        <xs:annotation>
          <xs:documentation>216w</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FHCHealthSeriousEyeDamageEyeIrritation">
        <xs:annotation>
          <xs:documentation>216x</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FHCHealthSpecificTargetOrganToxicity">
        <xs:annotation>
          <xs:documentation>216y</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FHCHealthAspirationHazard">
        <xs:annotation>
          <xs:documentation>216z</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FHCHealthGermCellMutagenicity">
        <xs:annotation>
          <xs:documentation>216aa</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FHCHealthSimpleAsphyxiant">
        <xs:annotation>
          <xs:documentation>216bb</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FHCHealthHazardNotOtherwiseClassified">
        <xs:annotation>
          <xs:documentation>216cc</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
            <xs:minLength value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
			<xs:element name="STACode">
				<xs:annotation>
					<xs:documentation>220</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
						<xs:minLength value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RadioActive">
				<xs:annotation>
					<xs:documentation>212</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:minLength value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Curies" type="xs:float" nillable="true">
				<xs:annotation>
					<xs:documentation>213</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TradeSecret">
				<xs:annotation>
					<xs:documentation>206</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12"/>
						<xs:minLength value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Comments">
				<xs:annotation>
					<xs:documentation>246</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"/>
						<xs:minLength value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Component1Percent" type="cers:ComponentPercentType" nillable="true">
				<xs:annotation>
					<xs:documentation>226</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Component1Name" type="cers:ComponentNameType">
				<xs:annotation>
					<xs:documentation>227</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Component1EHS">
				<xs:annotation>
					<xs:documentation>228</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="cers:ComponentEHSType">
						<xs:minLength value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Component1CAS">
				<xs:annotation>
					<xs:documentation>229</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="cers:CASType">
						<xs:minLength value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Component2Percent" type="cers:ComponentPercentType" nillable="true">
				<xs:annotation>
					<xs:documentation>230</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Component2Name" type="cers:ComponentNameType">
				<xs:annotation>
					<xs:documentation>231</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Component2EHS">
				<xs:annotation>
					<xs:documentation>232</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="cers:ComponentEHSType">
						<xs:minLength value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Component2CAS">
				<xs:annotation>
					<xs:documentation>233</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="cers:CASType">
						<xs:minLength value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Component3Percent" type="cers:ComponentPercentType" nillable="true">
				<xs:annotation>
					<xs:documentation>234</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Component3Name" type="cers:ComponentNameType">
				<xs:annotation>
					<xs:documentation>235</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Component3EHS">
				<xs:annotation>
					<xs:documentation>236</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="cers:ComponentEHSType">
						<xs:minLength value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Component3CAS">
				<xs:annotation>
					<xs:documentation>237</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="cers:CASType">
						<xs:minLength value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Component4Percent" type="cers:ComponentPercentType" nillable="true">
				<xs:annotation>
					<xs:documentation>238</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Component4Name" type="cers:ComponentNameType">
				<xs:annotation>
					<xs:documentation>239</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Component4EHS">
				<xs:annotation>
					<xs:documentation>240</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="cers:ComponentEHSType">
						<xs:minLength value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Component4CAS">
				<xs:annotation>
					<xs:documentation>241</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="cers:CASType">
						<xs:minLength value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Component5Percent" type="cers:ComponentPercentType" nillable="true">
				<xs:annotation>
					<xs:documentation>242</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Component5Name" type="cers:ComponentNameType">
				<xs:annotation>
					<xs:documentation>243</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Component5EHS">
				<xs:annotation>
					<xs:documentation>244</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="cers:ComponentEHSType">
						<xs:minLength value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Component5CAS">
				<xs:annotation>
					<xs:documentation>245</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="cers:CASType">
						<xs:minLength value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AdditionalMixtureComponent">
				<xs:annotation>
					<xs:documentation>247</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="2000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DOTHazClassID" nillable="true">
				<xs:annotation>
					<xs:documentation>252</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1.1"/>
						<xs:enumeration value="1.2"/>
						<xs:enumeration value="1.3"/>
						<xs:enumeration value="1.4"/>
						<xs:enumeration value="1.5"/>
						<xs:enumeration value="1.6"/>
						<xs:enumeration value="2.1"/>
						<xs:enumeration value="2.2"/>
						<xs:enumeration value="2.3"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4.1"/>
						<xs:enumeration value="4.2"/>
						<xs:enumeration value="4.3"/>
						<xs:enumeration value="5.1"/>
						<xs:enumeration value="5.2"/>
						<xs:enumeration value="6.1"/>
						<xs:enumeration value="6.2"/>
						<xs:enumeration value="7"/>
						<xs:enumeration value="8"/>
						<xs:enumeration value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LastUpdated" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>20.0073</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Prop65Types" type="cers:Prop65CollectionType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChemicalsType">
		<xs:sequence>
			<xs:element name="Chemical" type="cers:ChemicalType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Prop65CollectionType">
		<xs:sequence>
			<xs:element name="Prop65Type" minOccurs="0" maxOccurs="unbounded">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="GUID">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})|(\{[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ComponentNameType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="500"/>
			<xs:minLength value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ComponentPercentType">
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="ComponentEHSType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CASType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FireCodeType">
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
</xs:schema>
