Main/Data/XML Schemas/RegulatorFacilityCreateResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 sp1 (x64) (http://www.altova.com) by Mike Reagan (Air Resources Board) -->
<!--W3C Schema generated by XMLSpy v2012 rel. 2 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:cers="http://cersservices.calepa.ca.gov/Schemas/RegulatorFacilityCreateResponse/1/06/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://cersservices.calepa.ca.gov/Schemas/RegulatorFacilityCreateResponse/1/06/">
	<xs:simpleType name="TransactionStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Queued"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="RegulatorFacilityCreateResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Transaction">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="cers:TransactionType">
								<xs:attribute name="mode">
									<xs:annotation>
										<xs:documentation>20.0107</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="Commit"/>
											<xs:enumeration value="Trial"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="Result" type="cers:ResultType" minOccurs="0"/>
				<xs:element name="PotentialDuplicates" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PotentialDuplicate" type="cers:PotentialDuplicateType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Messages" type="cers:MessagesType" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="timeStamp" type="xs:dateTime"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ResultType">
		<xs:sequence>
			<xs:element name="CERSID" type="cers:CERSIDType">
				<xs:annotation>
					<xs:documentation>1a</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrganizationCode">
				<xs:annotation>
					<xs:documentation>20.0015</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="cers:OrganizationCodeType"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OrganizationName" type="xs:string">
				<xs:annotation>
					<xs:documentation>20.0016</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrganizationHeadquarters" type="xs:string">
				<xs:annotation>
					<xs:documentation>20.0106</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubmittalElements">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FacilityInformation" type="cers:SubmittalElementType"/>
						<xs:element name="HazardousMaterialsInventory" type="cers:SubmittalElementType"/>
						<xs:element name="EmergencyResponseTrainingPlans" type="cers:SubmittalElementType"/>
						<xs:element name="UndergroundStorageTanks" type="cers:SubmittalElementType"/>
						<xs:element name="OnsiteHazardousWasteTreatmentNotification" type="cers:SubmittalElementType"/>
						<xs:element name="RecyclableMaterialsReport" type="cers:SubmittalElementType"/>
						<xs:element name="RemoteWasteConsolidationsAnnualNotification" type="cers:SubmittalElementType"/>
						<xs:element name="HWTankClosureCertification" type="cers:SubmittalElementType"/>
						<xs:element name="AbovegroundPetroleumStorageTanks" type="cers:SubmittalElementType"/>
						<xs:element name="CaliforniaAccidentalReleasePrevention" type="cers:SubmittalElementType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AmendedAddress" minOccurs="0">
				<xs:annotation>
					<xs:documentation>If CERS address standardization clearly indicates a substantive address change to the original address, then the address fields in this element replaced the originally provided address.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SiteAddress" type="xs:string">
							<xs:annotation>
								<xs:documentation>103</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="City" type="xs:string">
							<xs:annotation>
								<xs:documentation>104</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ZipCode" type="xs:string">
							<xs:annotation>
								<xs:documentation>105</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="StandardizedAddress" type="cers:StandardizedAddressType" minOccurs="0"/>
			<xs:element name="GeographicInformation" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CERSPoint" type="cers:CERSGeographicPointLocationDataType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MessagesType">
		<xs:sequence>
			<xs:element name="Message" type="cers:MessageType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MessageType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="type">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Warning"/>
							<xs:enumeration value="Error"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="CERSGeographicPointLocationDataType">
		<xs:sequence>
			<xs:element name="LatitudeMeasure" nillable="false">
				<xs:annotation>
					<xs:documentation>21.0001</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="4"/>
						<xs:maxLength value="13"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LongitudeMeasure" nillable="false">
				<xs:annotation>
					<xs:documentation>21.0002</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="4"/>
						<xs:maxLength value="13"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="HorizontalAccuracyMeasure" type="xs:decimal" nillable="false">
				<xs:annotation>
					<xs:documentation>21.0003</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HorizontalCollectionMethod">
				<xs:annotation>
					<xs:documentation>21.0004</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="101"/>
						<xs:enumeration value="103"/>
						<xs:enumeration value="104"/>
						<xs:enumeration value="107"/>
						<xs:enumeration value="108"/>
						<xs:enumeration value="109"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GeographicReferencePoint">
				<xs:annotation>
					<xs:documentation>21.0005</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="101"/>
						<xs:enumeration value="102"/>
						<xs:enumeration value="103"/>
						<xs:enumeration value="108"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="HorizontalReferenceDatum">
				<xs:annotation>
					<xs:documentation>21.0006</xs:documentation>
					<xs:documentation>Typical value is WGS84</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NAD27"/>
						<xs:enumeration value="NAD83"/>
						<xs:enumeration value="WGS84"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DataCollectionDate" nillable="false">
				<xs:annotation>
					<xs:documentation>21.0007</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:date"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubmittalElementType">
		<xs:attribute name="regulatorCode" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation>20.0001</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="reportingRequirement" type="cers:ReportingRequirementType" use="required">
			<xs:annotation>
				<xs:documentation>20.0088</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="nextDueDate" type="cers:Date" use="optional">
			<xs:annotation>
				<xs:documentation>20.0087</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TransactionType">
		<xs:sequence>
			<xs:element name="TransactionKey" type="cers:GUID">
				<xs:annotation>
					<xs:documentation>20.0002</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegulatorTransactionKey" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>20.0003</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="36"/>
						<xs:minLength value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TransactionReceived" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>20.0081</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransactionStatus">
				<xs:annotation>
					<xs:documentation>20.0082</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="cers:StatusType">
							<xs:attribute name="queuePosition" type="xs:int" use="optional">
								<xs:annotation>
									<xs:documentation>20.0090</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="StatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Queued"/>
			<xs:enumeration value="Accepted"/>
			<xs:enumeration value="Rejected"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RegulatorKeyType">
		<xs:restriction base="cers:GUID"/>
	</xs:simpleType>
	<xs:simpleType name="GUID">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})|(\{[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrganizationCodeType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="10000001"/>
			<xs:maxInclusive value="99999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CERSIDType">
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="10000001"/>
			<xs:maxInclusive value="99999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime">
		<xs:restriction base="xs:dateTime">
			<xs:minInclusive value="1985-01-01T00:00:00Z"/>
			<xs:maxInclusive value="2024-12-31T23:59:59Z"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Date">
		<xs:restriction base="xs:date">
			<xs:minInclusive value="1985-01-01"/>
			<xs:maxInclusive value="2024-12-31"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReportingRequirementType">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="StandardizedAddressType">
		<xs:sequence>
			<xs:element name="SiteAddress" type="xs:string">
				<xs:annotation>
					<xs:documentation>103</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="City" type="xs:string">
				<xs:annotation>
					<xs:documentation>104</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZipCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>105</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StreetRange" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>20.0108</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StreetPreDirection" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>20.0109</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StreetName" type="xs:string" minOccurs="0"/>
			<xs:element name="StreetPostDirection" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>20.0111</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StreetSuffix" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>20.0112</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Suite" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PotentialDuplicateType">
		<xs:sequence>
			<xs:element name="CERSID" type="cers:CERSIDType">
				<xs:annotation>
					<xs:documentation>1a</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrganizationCode" type="cers:OrganizationCodeType">
				<xs:annotation>
					<xs:documentation>20.0015</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrganizationName" type="xs:string">
				<xs:annotation>
					<xs:documentation>20.0016</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrganizationHeadquarters" type="xs:string">
				<xs:annotation>
					<xs:documentation>20.0106</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SiteAddress" type="xs:string">
				<xs:annotation>
					<xs:documentation>103</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SiteAddressSupplemental" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>103a</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="City" type="xs:string">
				<xs:annotation>
					<xs:documentation>104</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ZipCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>105</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EstablishedOn" type="cers:Date">
				<xs:annotation>
					<xs:documentation>20.0113</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="score" type="xs:nonNegativeInteger" use="optional">
			<xs:annotation>
				<xs:documentation>20.0114</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
