Main/Data/XML Schemas/RegulatorFacilityMetadataResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (x64) (http://www.altova.com) by Mike Reagan (Air Resources Board) -->
<!--W3C Schema generated by XMLSpy v2012 rel. 2 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:cers="http://cersservices.calepa.ca.gov/Schemas/RegulatorFacilityMetadataResponse/1/06/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://cersservices.calepa.ca.gov/Schemas/RegulatorFacilityMetadataResponse/1/06/">
	<xs:simpleType name="TransactionStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Queued"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="RegulatorFacilityMetadataResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Transaction">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="cers:TransactionType"/>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="Messages" type="cers:MessagesType" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="timeStamp" type="xs:dateTime"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="MessagesType">
		<xs:sequence>
			<xs:element name="Message" type="cers:MessageType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MessageType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="type">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Warning"/>
							<xs:enumeration value="Error"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TransactionType">
		<xs:sequence>
			<xs:element name="TransactionKey" type="cers:GUID">
				<xs:annotation>
					<xs:documentation>20.0002</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegulatorTransactionKey" nillable="true" minOccurs="0">
				<xs:annotation>
					<xs:documentation>20.0003</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="36"/>
						<xs:minLength value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TransactionReceived" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>20.0081</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransactionStatus">
				<xs:annotation>
					<xs:documentation>20.0082</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="cers:StatusType"/>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="StatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Queued"/>
			<xs:enumeration value="Accepted"/>
			<xs:enumeration value="Rejected"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RegulatorKeyType">
		<xs:restriction base="cers:GUID"/>
	</xs:simpleType>
	<xs:simpleType name="GUID">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})|(\{[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CERSIDType">
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="10000001"/>
			<xs:maxInclusive value="99999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime">
		<xs:restriction base="xs:dateTime">
			<xs:minInclusive value="1985-01-01T00:00:00Z"/>
			<xs:maxInclusive value="2024-12-31T23:59:59Z"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Date">
		<xs:restriction base="xs:date">
			<xs:minInclusive value="1985-01-01"/>
			<xs:maxInclusive value="2024-12-31"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
