Main/Data/XML Schemas/RegulatorActionItemQuery.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 rel. 2 sp1 (x64) (http://www.altova.com) by Mike Reagan (Air Resources Board) -->
<!--W3C Schema generated by XMLSpy v2013 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cers="http://cersservices.calepa.ca.gov/Schemas/RegulatorActionItemQuery/1/06/" targetNamespace="http://cersservices.calepa.ca.gov/Schemas/RegulatorActionItemQuery/1/06/" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:element name="RegulatorActionItemQuery" type="cers:RegulatorActionItemQueryType"/>
	<xs:complexType name="RegulatorActionItemQueryType">
		<xs:sequence>
			<xs:element name="ActionItem" type="cers:ActionItemType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="transactionKey" type="cers:GUID" use="required"/>
		<xs:attribute name="timeStamp" type="cers:DateTime" use="required"/>
	</xs:complexType>
	<xs:complexType name="FacilityType">
		<xs:sequence>
			<xs:element name="CERSID" type="cers:CERSIDType"/>
			<xs:element name="FacilityName" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganizationType">
		<xs:sequence>
			<xs:element name="OrganizationCode" type="cers:OrganizationCodeType"/>
			<xs:element name="OrganizationName" type="xs:string"/>
			<xs:element name="OrganizationHeadquarters" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ActionItemType">
		<xs:sequence>
			<xs:element name="Type" type="xs:string"/>
			<xs:element name="Summary" type="xs:string"/>
			<xs:element name="LinkUri" type="xs:string"/>
			<xs:element name="RequestedOn" type="cers:DateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DateTime">
		<xs:restriction base="xs:dateTime">
			<xs:minInclusive value="1985-01-01T00:00:00Z"/>
			<xs:maxInclusive value="2024-12-31T23:59:59Z"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Date">
		<xs:restriction base="xs:date">
			<xs:minInclusive value="1985-01-01"/>
			<xs:maxInclusive value="2024-12-31"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RegulatorKeyType">
		<xs:restriction base="cers:GUID"/>
	</xs:simpleType>
	<xs:simpleType name="GUID">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})|(\{[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CERSIDType">
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="10000001"/>
			<xs:maxInclusive value="99999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrganizationCodeType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="100000001"/>
			<xs:maxInclusive value="999999999"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
